<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>

      <ng-template ngbSlide>
        <img src="assets/img/image1.png" alt="first">
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/img/image2.png" alt="second">
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/img/image3.png" alt="third">
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/img/image4.png" alt="fourth">
      </ng-template>

    </ngb-carousel>
  </div>
</section>
